body {
    background-color: rgb(236, 249, 222);
    margin: 0;
}
h1, h2 {
    margin: 0;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: skyblue;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstWrap {
    background-color: rgb(165, 209, 237);
}
.image {
    margin-bottom: 20px;
    width: 500px;
}

.title {
    color: rgb(0, 191, 255);
    margin-bottom: 10px;
}
.box {
    background-color: rgb(199, 245, 238);
    padding: 20px;
    /* width: 400px; */
    margin-bottom: 30px;
    margin-top: 30px;
    /* dashed - пунктир, solid - сплошной цвет */
    border: 5px dashed antiquewhite;
}
.text {
    font-size: 20px;
    position: relative;
}
.text::after {
    content: '';
    width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
}
.batt {
    width: 200px;
    height: 200px;
    background-color: rgb(183, 72, 72);
    color: rgb(137, 138, 193);
    font-size: large;
    display:flex;
}
.change {
    color: blue;
    font-size: 35px !important;
}
.change2 {
    color: rgb(148, 30, 135);
    font-size: 25px !important;
}
.container-buttons {
    display: flex;
    justify-content: space-around;
  }
  a {
    color: #000080;
    padding: 2px;
   }
   a:hover {
    text-decoration: none;
    color: #FFFAC0;
    background: #AB4A9C;
   }